<a href="https://colab.research.google.com/github/MidianB/PretaLab-Python/blob/main/PretaLab_Python_17_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Para a realização desses exercícios, peço que configurem para não aparecer sugestões da IA Gemini*

### A) **Utilizando variáveis, gere uma apresentação curta de sí mesma, como nesse exemplo**:

In [ ]:
# Oi! Eu sou a Amanda, tenho 30 anos, moro em Salvador e meu signo é Gêmeos

In [ ]:
# Dica: As variáveis podem ser algo como:
nome = 'Amanda'
idade = 30
cidade = 'Salvador'
signo = 'Gêmeos'

In [4]:
# Resposta aqui:

nome=input('Qual é o seu nome? ')
print(f'Oi! Eu sou a {nome}')
dicionario = {'nome': 'Midian', 'cidade': 'Rio de Janeiro', 'idade': [30]}
print(dicionario)

Qual é o seu nome? Midian
Oi! Eu sou a Midian
{'nome': 'Midian', 'cidade': 'Rio de Janeiro', 'idade': [30]}



---

### B) **Qual o maior valor dessa lista de gastos?**

In [5]:
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]

In [ ]:
# O valor mais caro é: 45.99

In [6]:
# Resposta aqui

maior=45.99
print (maior)

45.99



---

### C) **Qual a média dessa lista?**:

In [7]:
numeros = [10,80,50,90,70]

In [ ]:
# A média dos números é: 60.0

In [12]:
# Resposta aqui

media=int(sum(numeros)/len(numeros))
print (media)

60



---

### D) **Qual a média final dessas notas, qual a maior e qual a menor nota**

In [ ]:
notas = [10,7.8, 6, 8, 9]

In [ ]:
# A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!

In [13]:
notas = [10,7.8, 6, 8, 9]

final = sum(notas) / len(notas)
min = min(notas)
max = max(notas)

print("A média final é: ", final)
print("A sua maior nota foi: ", max)
print("A sua menor nota foi: ", min)

A média final é:  8.16
A sua maior nota foi:  10
A sua menor nota foi:  6



---

### E) **Com as mesmas informações do exercício anterior, apresente se a aluna foi APROVADA ou REPROVADA**

*  Se a média for igual ou superior a 6 apresentar a mensagem "Parabéns, você foi APROVADA!"
*  Se a média for menor, apresentar "Não foi dessa vez, infelizmente você foi REPROVADA!"

In [ ]:
# Parabéns você foi aprovada!

In [ ]:
# Resposta aqui

In [14]:
final = sum(notas) / len(notas)

if final >= 6:
  print("Parabéns, você foi APROVADA!")
else:
  print("Não foi dessa vez, infelizmente você foi REPROVADA!")

Parabéns, você foi APROVADA!



---

### F) **Desenvolva um programa que realize as quatro operações básicas (adição, subtração, multiplicação e divisão) entre dois números. A usuária deve escolher a operação e inserir os valores**

In [ ]:
#Digite o primeiro número: 10
#Digite o segundo número: 20
#Digite a operação (+, -, *, /): +
#Resultado: 30.0

In [16]:
# Resposta aqui
primeiro=10
segundo=20
operacao=input('Digite a operação (+, -, *, /): ')
if operacao == '+':
  print(primeiro+segundo)
elif operacao == '-':
  print(primeiro-segundo)
elif operacao == '*':
  print(primeiro*segundo)
elif operacao == '/':
  print(primeiro/segundo)
else:
  print('Operação inválida')

Digite a operação (+, -, *, /): +
30



---

### G) **Faça um Programa que leia três números e mostre-os em ordem decrescente.**

In [17]:
# Resposta

num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))
num3 = float(input("Digite o terceiro número: "))

decre = [num1, num2, num3]
decre.sort(reverse=True)

print("Números em ordem decrescente:", decre)

Digite o primeiro número: 30
Digite o segundo número: 23
Digite o terceiro número: 33
Números em ordem decrescente: [33.0, 30.0, 23.0]



---

### H) **Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 153 -> 351**

In [18]:
# Resposta aqui
def inverter(numero):

    numero_invertido = int(str(numero)[::-1])
    return numero_invertido


numero = 153
resultado = inverter(numero)
print(resultado)

351



---

### I) **Faça um programa que solicite o nome do usuário e imprima-o em formato de escada.**

In [ ]:
#Digite seu nome: amanda
#a
#am
#ama
#aman
#amand
#amanda

In [19]:
# Resposta aqui
def escada(nome):

    for i in range(1, len(nome) + 1):
        print(nome[:i])

nome_usuario = input("Digite seu nome: ")

escada(nome_usuario)

Digite seu nome: ana
a
an
ana